.head{
    background-color: #004658 !important;
}
.icon{
    background-color: #004658 !important;
}
.menu ul{
    background-color: #004658 !important;
}
.icon a{
    background-color: #004658 !important;
}
.menu ul li a{
    background-color: #004658 !important;
}
.icon h2{
    background-color: #004658 !important;
}
.menu ul li,.menu ul li i{
    background-color: #004658 !important;
}
.menu{
    background-color: #004658 !important;
}
.head{
    height: auto !important;
  
}

.icon h2{
    padding: 0px 0px 0px 0px !important;
    margin: 19px 0px 0px 250px !important;
    font-size: 3.4rem !important;
}
.icon{
    margin: 0px !important;
}